@model ATMExercise.Models.ViewModels.TarjetaViewModel
@{
    ViewData["Title"] = "Ingreso de PIN";
}

<div class="text-center">
    <h1 class="display-5">Por favor ingrese el PIN de la tarjeta</h1>
    <p class="display-8">ATENCION: tiene 4 intentos de ingreso hasta que su tarjeta se bloquee.</p>
    <p>Ingrese los 4 dígitos de su PIN:</p>
    <form asp-action="Operaciones" asp-controller="Home">
        <div class="btn-group-vertical ml-4 mt-4" role="group" aria-label="Basic example">
            <div class="btn-group">
                @Html.TextBoxFor(model=> model.PIN, new { @class = "text-center form-control-lg mb-2", disabled="disabled", @readonly = "readonly" })
                @Html.HiddenFor(model=>model.NumeroTarjeta)
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-secondary py-3" asp-controller="Home" asp-action="AddPinT" asp-route-num="1" asp-route-pin="@Model.PIN" asp-route-numeroTarj="@Model.NumeroTarjeta" asp-route-intentos="@Model.Intentos">1</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="Home" asp-action="AddPinT" asp-route-num="2" asp-route-pin="@Model.PIN" asp-route-numeroTarj="@Model.NumeroTarjeta" asp-route-intentos="@Model.Intentos">2</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="Home" asp-action="AddPinT" asp-route-num="3" asp-route-pin="@Model.PIN" asp-route-numeroTarj="@Model.NumeroTarjeta" asp-route-intentos="@Model.Intentos">3</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-secondary py-3" asp-controller="Home" asp-action="AddPinT" asp-route-num="4" asp-route-pin="@Model.PIN" asp-route-numeroTarj="@Model.NumeroTarjeta" asp-route-intentos="@Model.Intentos">4</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="Home" asp-action="AddPinT" asp-route-num="5" asp-route-pin="@Model.PIN" asp-route-numeroTarj="@Model.NumeroTarjeta" asp-route-intentos="@Model.Intentos">5</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="Home" asp-action="AddPinT" asp-route-num="6" asp-route-pin="@Model.PIN" asp-route-numeroTarj="@Model.NumeroTarjeta"asp-route-intentos="@Model.Intentos">6</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-secondary py-3" asp-controller="Home" asp-action="AddPinT" asp-route-num="7" asp-route-pin="@Model.PIN" asp-route-numeroTarj="@Model.NumeroTarjeta" asp-route-intentos="@Model.Intentos">7</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="Home" asp-action="AddPinT" asp-route-num="8" asp-route-pin="@Model.PIN" asp-route-numeroTarj="@Model.NumeroTarjeta" asp-route-intentos="@Model.Intentos">8</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="Home" asp-action="AddPinT" asp-route-num="9" asp-route-pin="@Model.PIN" asp-route-numeroTarj="@Model.NumeroTarjeta" asp-route-intentos="@Model.Intentos">9</a>
            </div>
            <div class="btn-group">
                @Html.HiddenFor(model=>model.PIN)
                @Html.HiddenFor(model=>model.Intentos)
                <a class="btn btn-outline-secondary py-3" asp-controller="Home" asp-action="AddPinT" asp-route-num="" asp-route-pin="" asp-route-numeroTarj="@Model.NumeroTarjeta" asp-route-intentos="@Model.Intentos">Limpiar</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="Home" asp-action="AddPinT" asp-route-num="0" asp-route-pin="@Model.PIN" asp-route-numeroTarj="@Model.NumeroTarjeta" asp-route-intentos="@Model.Intentos">0</a>
                <input type="submit" class="btn btn-primary py-3" value="Aceptar"/>

            </div>
            <div class="btn-group">
                <a class="btn btn-outline-secondary py-3" asp-area="" asp-controller="Home" asp-action="Index">Salir</a>
            </div>
            @if(ViewBag.Mensaje != "")
            {
                <p><strong>@ViewBag.Mensaje</strong></p>
                <p>Intentos: @Model.Intentos</p>
            }
        </div>
    </form>

</div>

