@model ATMExercise.Models.ViewModels.TarjetaViewModel
@{
    ViewData["Title"] = "Balance";
}

<div class="text-center">
    <h1 class="display-5">Balance</h1>
    <h2 class="display-6">La información de su tarjeta es la siguiente:</h2>        
        <table class="table table-striped">            
            <thead>
                <tr>

                    <th scope="col">@Html.DisplayNameFor(model => model.NumeroTarjeta)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.FechaVencimiento)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Balance)</th>                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>  @Html.DisplayFor(model => model.NumeroTarjeta)</td>
                    <td>  @Html.DisplayFor(model => model.FechaVencimiento)</td>
                    <td>  @Html.DisplayFor(model => model.Balance)</td>
                </tr>                     
            </tbody>
        </table>
    <form asp-action="Operaciones" asp-controller="Home">
        <div class="btn-group-vertical ml-4 mt-4" role="group" aria-label="Basic example">
            <div class="btn-group">
                @Html.HiddenFor(model=>model.Id_Tarjeta)
                @Html.HiddenFor(model=>model.NumeroTarjeta)
                @Html.HiddenFor(model=>model.PIN)
                @Html.HiddenFor(model=>model.FechaVencimiento)
                @Html.HiddenFor(model=>model.Balance)
                @Html.HiddenFor(model=>model.Id_Estado)
                @Html.HiddenFor(model=>model.Intentos)
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-secondary py-3" asp-area="" asp-controller="Home" asp-action="Index">Salir</a>
                <input type="submit" class="btn btn-outline-secondary py-3" value="Atrás" />
            </div>
        </div>
    </form>
</div>
