@model ATMExercise.Models.ViewModels.TarjetaViewModel
@{
    ViewData["Title"] = "Retiro";
}

<div class="text-center">
    <h1 class="display-5">Ingrese el monto a retirar:</h1>
    <form asp-action="Retiro" asp-controller="OpDisponibles">
        <div class="btn-group-vertical ml-4 mt-4" role="group" aria-label="Basic example">           
            <div class="btn-group">
                @Html.TextBoxFor(model=> model.MontoRetiro, new { @class = "text-center form-control-lg mb-2", disabled="disabled", @readonly = "readonly"})
                @Html.HiddenFor(model=>model.Id_Tarjeta)                
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-secondary py-3" asp-controller="OpDisponibles" asp-action="AddMontoT" asp-route-num="1" asp-route-monto="@Model.MontoRetiro" asp-route-idTar="@Model.Id_Tarjeta">1</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="OpDisponibles" asp-action="AddMontoT" asp-route-num="2" asp-route-monto="@Model.MontoRetiro" asp-route-idTar="@Model.Id_Tarjeta">2</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="OpDisponibles" asp-action="AddMontoT" asp-route-num="3" asp-route-monto="@Model.MontoRetiro" asp-route-idTar="@Model.Id_Tarjeta">3</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-secondary py-3" asp-controller="OpDisponibles" asp-action="AddMontoT" asp-route-num="4" asp-route-monto="@Model.MontoRetiro" asp-route-idTar="@Model.Id_Tarjeta">4</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="OpDisponibles" asp-action="AddMontoT" asp-route-num="5" asp-route-monto="@Model.MontoRetiro" asp-route-idTar="@Model.Id_Tarjeta">5</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="OpDisponibles" asp-action="AddMontoT" asp-route-num="6" asp-route-monto="@Model.MontoRetiro" asp-route-idTar="@Model.Id_Tarjeta">6</a>
            </div>
            <div class="btn-group">
                <a class="btn btn-outline-secondary py-3" asp-controller="OpDisponibles" asp-action="AddMontoT" asp-route-num="7" asp-route-monto="@Model.MontoRetiro" asp-route-idTar="@Model.Id_Tarjeta">7</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="OpDisponibles" asp-action="AddMontoT" asp-route-num="8" asp-route-monto="@Model.MontoRetiro" asp-route-idTar="@Model.Id_Tarjeta">8</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="OpDisponibles" asp-action="AddMontoT" asp-route-num="9" asp-route-monto="@Model.MontoRetiro" asp-route-idTar="@Model.Id_Tarjeta">9</a>
            </div>
            <div class="btn-group">
                
                @Html.HiddenFor(model=>model.Id_Tarjeta)
                @Html.HiddenFor(model=>model.MontoRetiro)
                <a class="btn btn-outline-secondary py-3" asp-controller="OpDisponibles" asp-action="AddMontoT" asp-route-num="" asp-route-monto="" asp-route-idTaridTar="@Model.Id_Tarjeta">Limpiar</a>
                <a class="btn btn-outline-secondary py-3" asp-controller="OpDisponibles" asp-action="AddMontoT" asp-route-num="0" asp-route-monto="@Model.MontoRetiro" asp-route-idTar="@Model.Id_Tarjeta">0</a>
                <input type="submit" class="btn btn-primary py-3" value="Aceptar" />

            </div>
            <div class="btn-group">
                <a class="btn btn-outline-secondary py-3" asp-area="" asp-controller="Home" asp-action="Index">Salir</a>
            </div>
        </div>

    </form>

</div>